
 body{
    margin:0;
 }
 
 
 


.nav-bar {
    background-color: #9686b8; 
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: #fff; 
    font-size: 2rem;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-family: Century Gothic, sans-serif; 
}





th, td {
    border: 1px solid #e5e7eb;
    padding: 3rem; 
}


h1 {
    text-align: center;
}

.container{
    margin: 2%;
}


/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9686b8; 
}

footer a {
    color: #333; /* Set your desired text color */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
